@model AutomobileApp.Models.AutoMobileCompany

@{
    ViewData["Title"] = "AddAutomobile";
}

<h1>Add Automobile Company</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAutomobile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foundation" class="control-label"></label>
                <input asp-for="Foundation" class="form-control" />
                <span asp-validation-for="Foundation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

