@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBCCq-IMPBfN2lYmtbTq2R6PMfmmGMh6h94Q&usqp=CAU" />*@
    <h1 class="display-4">Welcome to automobile World</h1>
</div>
